.container {
    display:flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .all {
    display:flex;
    background: #C1E5F4;
    flex-direction: column;
    padding: 20px 20px 5px 20px;
    border:3px solid #000300;
    border-radius: 8px;
    width: 650px;
  }
.data{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
  }
 
  .dataimage{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    
  }
  h1{
    display:flex;
    justify-content: center;
    margin: 0%;
  }
  .img{
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px solid #F2F2F2;
  }
   .buttond{
    display:flex;
    justify-content: flex-end;
  }
  .button {
    font-family: 'Press Start 2P', cursive; 
    font-size: 10px;
    background-color:#8C4C35;
    color: #F2F2F2;
    cursor: pointer;
    text-align: center;
    padding: 0px 20px;
    border-radius: 8px;
    transition-duration: 0.5s;
    height: 40px;
    text-align: center;
  }
  .button:hover {
    background-color:#a74b2a;
    color: #000300; 
  }