/* body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
} */

.background {
  height: 100vh;
  width: auto;
  background: url("./landing.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LandingButton {
  padding: 0;
  border-width: 0;
  width: 180vh;
  height: 99.6vh;
  
  
   background:none; 
  /* border-color: #3498db17; */
  /* position: absolute; */
  border-color: transparent;
  /* left: 0%; */
  /* left:37.9%;
      top:61.5%; */
  cursor: pointer;
}
/* .LandingButton:hover {
      box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
    } */
