
.bar {
   
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

.button {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    /* background-color:#8C4C35; */
    border: 2px solid  #513C99;
    color: #513C99;
    cursor: pointer;
    text-align: center;
    padding: 0px 15px;
    border-left: transparent;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition-duration: 0.5s;
    height: 50px;
}

.button:hover {
    background-color:#8265E6;
    color:  #000300; 
}
.input{
    padding-left: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    border: 2px solid  #513C99;
    border-right: transparent;
    /* border-radius: 8px; */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}